body {
  cursor: default;
}
body .divider {
  padding: 1em;
}
body header nav.navbar {
  background-color: #fff;
  border-bottom: 2px solid #3f51b5;
}
body header nav.navbar .fa-shopping-cart {
  border: 1px solid #ababab;
  border-radius: 100%;
  margin-top: -0.5em;
  padding: 0.5em;
}
body main {
  min-height: 100vh;
  padding-top: 2em;
}
body main .carts {
  background-color: #fff;
  border: 2px solid #3f51b5;
  display: none;
  padding: 1em 0 2em;
  position: fixed;
  right: 6em;
  top: 3.5em;
  width: 280px;
}
body main .carts h3 {
  font-size: 14pt;
  text-align: center;
}
@media only screen and (max-width: 379px) {
  body main .carts h3 {
    font-size: 12pt;
  }
}
body main .carts span {
  display: block;
  font-size: 10pt;
  text-align: center;
}
@media only screen and (max-width: 379px) {
  body main .carts span {
    font-size: 8pt;
  }
}
@media only screen and (max-width: 991px) {
  body main .carts {
    right: -2px;
    top: 6em;
    z-index: 9999;
  }
}
@media only screen and (max-width: 379px) {
  body main .carts {
    width: 200px;
  }
}
body footer {
  border-top: 2px solid #ababab;
  margin: 4em 0 1em;
  padding: 1em 0 0;
}
body footer .col-md-8 {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  body footer .col-md-8 {
    text-align: center;
  }
}
@media only screen and (max-width: 767px) {
  body footer {
    text-align: center;
  }
}
@media only screen and (max-width: 450px) {
  body footer {
    font-size: 10pt;
  }
}
@media only screen and (max-width: 387px) {
  body footer {
    font-size: 8pt;
  }
}
@media only screen and (max-width: 321px) {
  body footer {
    font-size: 7pt;
  }
}
body footer a {
  color: #222;
  text-decoration: none;
}
body footer a:hover {
  color: #222;
}
body footer .list a {
  display: inline-block;
  margin: 0 0.5em;
}
body.home-page,
body.sell-book-page {
  padding: 4em 0 0;
}
body.home-page .big-poster img,
body.sell-book-page .big-poster img {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  body.home-page .big-poster img,
  body.sell-book-page .big-poster img {
    display: block;
    margin: 0 auto;
    width: 75%;
  }
}
body.home-page .big-poster h1,
body.sell-book-page .big-poster h1 {
  color: #444;
  font-size: 48pt;
  margin-top: 1em;
}
@media only screen and (max-width: 991px) {
  body.home-page .big-poster h1,
  body.sell-book-page .big-poster h1 {
    font-size: 32pt;
    margin-top: 0.5em;
  }
}
@media only screen and (max-width: 767px) {
  body.home-page .big-poster h1,
  body.sell-book-page .big-poster h1 {
    margin-top: 1em;
    text-align: center;
  }
}
@media only screen and (max-width: 370px) {
  body.home-page .big-poster h1,
  body.sell-book-page .big-poster h1 {
    font-size: 24pt;
  }
}
body.home-page .big-poster p,
body.sell-book-page .big-poster p {
  font-size: 24pt;
}
@media only screen and (max-width: 991px) {
  body.home-page .big-poster p,
  body.sell-book-page .big-poster p {
    font-size: 16pt;
  }
}
@media only screen and (max-width: 767px) {
  body.home-page .big-poster p,
  body.sell-book-page .big-poster p {
    text-align: center;
  }
}
@media only screen and (max-width: 370px) {
  body.home-page .big-poster p,
  body.sell-book-page .big-poster p {
    font-size: 12pt;
  }
}
body.home-page .big-poster p.sub,
body.sell-book-page .big-poster p.sub {
  font-size: 18pt;
  margin-top: -1em;
}
@media only screen and (max-width: 991px) {
  body.home-page .big-poster p.sub,
  body.sell-book-page .big-poster p.sub {
    font-size: 14pt;
  }
}
@media only screen and (max-width: 767px) {
  body.home-page .big-poster p.sub,
  body.sell-book-page .big-poster p.sub {
    text-align: center;
  }
}
@media only screen and (max-width: 370px) {
  body.home-page .big-poster p.sub,
  body.sell-book-page .big-poster p.sub {
    font-size: 10pt;
  }
}
body.home-page .big-poster .special-button,
body.sell-book-page .big-poster .special-button {
  background: transparent;
  color: #ababab;
  cursor: pointer;
  border: 2px solid #ababab;
  display: inline-block;
  font-size: 16pt;
  margin: 1em 0 0;
  padding: 0.5em 3em;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  body.home-page .big-poster .special-button,
  body.sell-book-page .big-poster .special-button {
    font-size: 14pt;
  }
}
@media only screen and (max-width: 767px) {
  body.home-page .big-poster .special-button,
  body.sell-book-page .big-poster .special-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }
}
@media only screen and (max-width: 426px) {
  body.home-page .big-poster .special-button,
  body.sell-book-page .big-poster .special-button {
    font-size: 12pt;
  }
}
@media only screen and (max-width: 370px) {
  body.home-page .big-poster .special-button,
  body.sell-book-page .big-poster .special-button {
    font-size: 10pt;
  }
}
@media only screen and (max-width: 324px) {
  body.home-page .big-poster .special-button,
  body.sell-book-page .big-poster .special-button {
    font-size: 8pt;
  }
}
body.home-page .big-poster .special-button:hover,
body.sell-book-page .big-poster .special-button:hover {
  border: 2px solid #3f51b5;
  color: #3f51b5;
}
@media only screen and (max-width: 767px) {
  body.home-page .big-poster .labels,
  body.sell-book-page .big-poster .labels {
    text-align: center;
  }
}
body.home-page .big-poster a.label,
body.sell-book-page .big-poster a.label {
  color: #ababab;
  border-bottom: 2px solid #ababab;
  display: inline-block;
  font-size: 12pt;
  margin: 1em 0.5em;
  padding: 0.5em 1em;
  text-decoration: none;
}
@media only screen and (max-width: 991px) {
  body.home-page .big-poster a.label,
  body.sell-book-page .big-poster a.label {
    margin: 0.5em 0.25em;
  }
}
@media only screen and (max-width: 370px) {
  body.home-page .big-poster a.label,
  body.sell-book-page .big-poster a.label {
    font-size: 10pt;
  }
}
body.home-page .big-poster a.label:hover,
body.sell-book-page .big-poster a.label:hover {
  color: #3f51b5;
  border-bottom: 2px solid #3f51b5;
}
@media only screen and (max-width: 767px) {
  body.home-page .big-poster img.left,
  body.sell-book-page .big-poster img.left {
    margin: 2em auto 0;
  }
}
body.home-page .big-poster input:not([type=submit]),
body.sell-book-page .big-poster input:not([type=submit]) {
  background: transparent;
  border: none;
  border-bottom: 2px solid #ababab;
  color: #ababab;
  display: block;
  font-size: 16pt;
  margin: 1em 0;
  padding: 0.25em 0.5em;
  text-align: right;
  width: 300px;
}
@media only screen and (max-width: 767px) {
  body.home-page .big-poster input:not([type=submit]),
  body.sell-book-page .big-poster input:not([type=submit]) {
    margin: 1em auto;
    text-align: center;
  }
}
body.home-page .big-poster input:not([type=submit]):focus,
body.sell-book-page .big-poster input:not([type=submit]):focus {
  border-bottom: 2px solid #3f51b5;
  color: #3f51b5;
}
body.home-page .big-poster input:not([type=submit]):disabled,
body.sell-book-page .big-poster input:not([type=submit]):disabled {
  background-color: #fff;
  border-bottom: 2px solid #ababab;
  color: #ababab;
}
body.home-page .big-poster input[type=submit]:disabled,
body.sell-book-page .big-poster input[type=submit]:disabled {
  color: #ababab;
  cursor: default;
  border: 2px solid #ababab;
}
body.home-page .big-poster input[type=file],
body.sell-book-page .big-poster input[type=file] {
  display: none;
}
body.home-page .big-poster .alert,
body.sell-book-page .big-poster .alert {
  padding-right: 0;
  text-align: right;
}
@media only screen and (max-width: 767px) {
  body.home-page .big-poster .alert,
  body.sell-book-page .big-poster .alert {
    text-align: center;
  }
}
body.login-page form,
body.register-page form {
  margin: 8em auto 2em;
  width: 32em;
}
@media screen and (max-width: 540px) {
  body.login-page form,
  body.register-page form {
    width: 100%;
  }
}
body.login-page form .unique-underline,
body.register-page form .unique-underline {
  border: 2px solid #3f51b5;
  border-top: none;
  display: block;
  height: 1em;
  margin: -0.5em auto 0;
  width: 100%;
}
body.login-page form h1,
body.register-page form h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}
body.login-page form h1 a,
body.register-page form h1 a {
  color: #222;
  text-decoration: none;
}
body.login-page form input:not([type=submit]),
body.login-page form textarea,
body.register-page form input:not([type=submit]) {
  border: none;
  border-bottom: 2px solid #ababab;
  display: block;
  font-size: 16pt;
  margin: 2em 0;
  padding: 0.5em 0.25em;
  width: 100%;
}
body.login-page form input:not([type=submit]):focus,
body.login-page form textarea:focus,
body.register-page form input:not([type=submit]):focus {
  border-bottom: 2px solid #3f51b5;
  color: #3f51b5;
}
body.login-page form input:not([type=submit]):disabled,
body.login-page form textarea:disabled,
body.register-page form input:not([type=submit]):disabled {
  background-color: #fff;
  border-bottom: 2px solid #ababab;
  color: #ababab;
}
body.login-page form input[type=submit],
body.register-page form input[type=submit] {
  cursor: pointer;
  color: #ababab;
  background: transparent;
  border: 2px solid #ababab;
  display: block;
  font-size: 16pt;
  margin: 3em auto 0;
  padding: 0.5em 0.25em;
  width: 75%;
}
body.login-page form input[type=submit]:hover,
body.register-page form input[type=submit]:hover {
  color: #3f51b5;
  border: 2px solid #3f51b5;
}
body.login-page form input[type=submit]:disabled,
body.register-page form input[type=submit]:disabled {
  color: #ababab;
  cursor: default;
  border: 2px solid #ababab;
}
body.buy-books-page main {
  padding: 6em 0 1em;
}
body.buy-books-page main .loading {
  margin: 4em auto;
  text-align: center;
}
body.buy-books-page main .racks .card {
  margin: 1em auto;
  width: 100%;
}
body.buy-books-page main .racks .card .special-button {
  border: 2px solid #ababab;
  display: block;
  padding: 0.5em 0.25em;
  text-align: center;
  width: 100%;
}
body.buy-books-page main .racks .card .special-button:disabled {
  cursor: default;
  color: #ababab;
  border: 2px solid #ababab;
}
body.buy-books-page main .racks .card .special-button:hover {
  cursor: pointer;
  color: #3f51b5;
  border: 2px solid #3f51b5;
}
body.buy-books-page main .racks .card img:hover {
  cursor: zoom-in;
}
